*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    body{
        background-color: slategray;
    }
    
    .container{
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .cell10{
        width: calc(100% / 10);
        aspect-ratio: 1/1;
        border: 1px solid azure;
    }

    .cell9{
        width: calc(100% / 9);
        aspect-ratio: 1/1;
        border: 1px solid azure;
    }

    .cell7{
        width: calc(100% / 7);
        aspect-ratio: 1/1;
        border: 1px solid azure;
    }
    
    .aqua{
        background-color: aqua;
    }